.DS_Store
Thumbs.db
.php-cs-fixer.cache
.env
.env.*

node_modules/
vendor/
docker-data/
docker/.data/
coverage/
tmp/
*.tmp
*.bak
*.orig
*.sql
!database/*.sql
!database/migrations/*.sql
logs/*.log
logs/*
!logs/.htaccess
system/cache/*.cache
system/cache/locks/*
!system/cache/locks/.gitkeep
comments_debug.log

public/downloads/*
!public/downloads/.gitkeep
!public/downloads/images/
!public/downloads/images/.gitkeep
!public/downloads/screens/
!public/downloads/screens/.gitkeep
!public/downloads/torrents/
!public/downloads/torrents/.gitkeep
node_modules/
