.DS_Store
Thumbs.db
.php-cs-fixer.cache
.env
.env.*
!.env.example

node_modules/
vendor/
docker-data/
docker/.data/
coverage/
tmp/
*.tmp
*.bak
*.old
*.orig
*.sql
!database/*.sql
!database/migrations/*.sql
logs/*
!logs/.htaccess
cache/*
!cache/.gitkeep
!cache/.htaccess
system/cache/*.cache
system/cache/locks/*
!system/cache/locks/.gitkeep
comments_debug.log

public/downloads/*
!public/downloads/.gitkeep
!public/downloads/images/
!public/downloads/images/.gitkeep
!public/downloads/screens/
!public/downloads/screens/.gitkeep
!public/downloads/torrents/
!public/downloads/torrents/.gitkeep

public/dist/*
!public/dist/.gitkeep

/storage/logs/*
/storage/cache/*
/storage/tmp/*
/storage/backups/*
/storage/uploads/*
!/storage/logs/.gitkeep
!/storage/cache/.gitkeep
!/storage/tmp/.gitkeep
!/storage/backups/.gitkeep
!/storage/uploads/.gitkeep
