RewriteEngine On

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^user/([a-f0-9]{24})/?$ profile.php?uid=$1 [L,QSA,NC]
RewriteRule ^user/([a-f0-9]{24})/(torrents|bonus)/?$ profile.php?uid=$1&view=$2 [L,QSA,NC]
