<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true">
    <testsuites>
        <testsuite name="LiteTracker">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">system/functions</directory>
            <directory suffix=".php">system/classes</directory>
        </include>
        <exclude>
            <file>system/functions/functions.htmLawed.php</file>
            <file>system/functions/functions.recaptchalib.php</file>
            <file>system/classes/class.phpmailer.php</file>
        </exclude>
    </source>
</phpunit>
