#poll_container {
	width:100%;
	font-size:12px;
	background:transparent;
}
#poll_title {
	font-size: 16px;
	font-weight:bold;
	border:none;
	padding:20px;
	text-align:center;

}
.barmax, .bar {
	border:1px solid #666666;
	padding-left:2px;
	padding-right:2px;
}
.bar {
	background: #a3c980;
}
.barmax {
	background: #6ea838;