body {
	font-family: sans-serif;
	font-size: 8pt;
	color: ;
	margin: 0px;
    padding: 0px;
}

table.bar {
padding-top:0px;
background:transparent;
	color: #ffffff;
}
table.logos {
width: 100%;
padding-top:0px;
height: 153px;
background-image:url(images/header1.gif);
}
td.left {
width: 137px;
height: 150px;
position: absolute;
z-index: 55;
background: url(images/hause.gif)  left;
}
td.right {
	background:url(images/content-center5.gif);
position: absolure;
	width: 44px;
	height:18px;
	border:none;
	}
.linked-image {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

.brd {
	border:none;
	}


a.freelink { text-decoration: none; color : red; }

.resized-linked-image {
	margin: 1px 0px 0px 0px;
	padding: 0px;
	background-color: #000;
	border: 0px;
	color: #FFF;
	font-size: 10px;
	width: auto;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-topright: 7px;
}

.resized-linked-image-zoom {
	width: 200px;
	height: 30px;
	background-color: #FFF;
	padding-top: 6px;
	padding-left: 5px;
	top: 0px;
	left: 0px;
	position: absolute;
	display: none;
}

.clickable { cursor: pointer; }

#highlighted {
	background-color: #FAFAFA;
}

#highlighted tr:hover {
	background-color: #F5FBE1;
}

#tooltip{
	background: #ffffff;
	font: verdana;
	font-size: 10px;
	width:auto;
	border:1px solid #778899;
	border-left:5px solid #ff9f00;
	color: #333333;
	font-family: verdana, arial, helvetica, sans-serif;
	opacity: 0.91;
	filter: alpha(opacity="91");
	line-height:15px; 	z-index:100;
	margin:0px;
	padding: 3px;
	position: absolute;
	visibility: hidden;
	border-collapse: separate;
}


.editor {
	margin: 0px 0px 1px 0px;
	width: 400px;
	height: 21px;
	border: 1px #D1D8EC solid;
}

.editorinput {
	background: #FAFAFA;
	color: #000000;
	border: 1px #D1D8EC solid;
	font-size: 11px; font-family: Verdana, Helvetica; text-decoration: none;
}

.editorbutton {
	float: left;
	cursor: pointer;
	padding: 2px 1px 0px 5px;
}

code {
	background: none;
	color: #0000FF;
	font-size: 11px;
	font-family: Verdana, Helvetica;
}

.code {
	color: #0000BB;
	font-size: 11px;
	font-family: Verdana, Helvetica;
}

a.copyright:link, a.copyright:visited, a.copyright:active {
	text-decoration: none;
	color: #000000;
	border-top: dashed 1px #5087AD;
	padding: 0px;
}

td.pager { background:url(images/pager_hover.gif) top center no-repeat; width:60px; height:19px; border: none; text-align:center; }

td.pagebr { background: transparent; border: 0px; padding: 0px; }

td.highlight { background:url(images/pager.gif) top center no-repeat;
			width:60px;
			height:19px;
			color:#FFFFFF;
			text-align: center;
			border:none; }

hr { height: 0px; border: solid #00314D 0px; border-top-width: 1px; }

table {
  border-collapse: collapse;
  border: none;
  background-color: #ffffff;
}


#table_l {
	padding-top:35px;
	padding-left:60px;
	padding-right:60px;
	padding-bottom:35px;
	}
	
table.main {
  background-color: #ffffff;
}

table.main3 {
  background-color: #ffffff;
  border: 0px;
}


table.main6 {
  background: transparent;
  border: 0px;
}

#sub-center {
  background: url(images/sub-center.gif) repeat-x;
  height:50px;
  border:0px;
  padding:0;
  margin:0;
}

#sub-left {
  background: url(images/sub-left.gif) no-repeat;
  width:6px;
  height:50px;
  border:0px;
  padding:0;
  margin:0;
}

#sub-right {
  background: url(images/sub-right.gif) no-repeat;
  width:6px;
  height:50px;
  border:0px;
  padding:0;
  margin:0;
}



table.mainouter {
  background-color: ##FFFF99;
  border: 0px;
}
table.bottom {
  color: #FFFFFF;
  background: transparent;
}
table.main2 {
  background-color: #fafafa;
  border: 0px;
}
table.blok {
  background-color: #ffffff;
}

h1 {
  font-size: 12pt;
text-align: left;
}



h3 {
  font-size: 10pt;
  margin-bottom: 5px;
text-align: center;
}

p {
        font-size: 8pt;
}

p.sub {
  margin-bottom: 4pt;
}

td {
	font-size: 8pt;
	border:1px solid transparent;

}

td.lol {
	font-size: 8pt;
	border: 1px solid #E0E0E0;
}

td.lola {
	font-size: 8pt;
	border: 1px solid #E0E0E0;
  font-weight: bold;
}

td.block {
   font-size: 8pt;
   border: 0px;
   background-color: #FFFFFF;
}

td.block2 {
   font-size: 8pt;
   border: none;
   text-align: left;
   background-color: #FFFFFF;
}

td.block3 {
   font-size: 8pt;
   border: 0px;
   background-color: #000000;
}

td.right_menu {
 border: 0px;

}

td.commenttable {
background-color: #FFFEF2;
}

td.embedded {
   border: none;
  text-align: left;
}

td.bottom {
  border: none;
  color: #000000;
}

td.heading {
  font-weight: bold;
}

td.text {
	padding: 10pt;
	text-align: left;
    background-color: #FFFFFF;
    border: none;
}

td.comment {
  padding: 10pt;
  font-size: 8pt;
  text-align: left;
}

td.colhead {
  font-weight: bold;
  color: white;
  background-image: url(images/header.gif);
}

td.rowhead {
	border: 1px solid #E0E0E0;
  font-weight: bold;
  text-align: right;
  vertical-align: top;
}

td.title {
        font-size: 14pt;
}

td.navigation {
        font-weight: bold;
        font-size: 10pt;
   border: none;
}

form {
        margin-top: 0;
        margin-bottom: 0;
}

.sublink {
        font-style: italic;
        font-size: 7pt;
        font-weight: normal;
}


.important {
        font-weight: bold;
        font-size: 8pt;
}

div.popup {position:absolute; top:0px; left:0px; width:170px; height:85px; border:1px solid black; display:none; background-color:ffffff;}



.red {
        color: #ee0000;
}

.yellow {
        color: #997700;
}

.green {
        color: #000000;
}


.small {
  font-size: 8pt;
}

.big {
  font-size: 10pt;
}

li {
  margin-top: 6pt;
  margin-bottom: 6pt;
}

ul {
  margin-left: 16pt;
  margin-top: 0px;
  margin-bottom: 0px;
}

.menutitle{
        font-weight:bold;
        text-align:center;
        color: #7E110E;
        margin: 2px;
        background-color: #FFC58C;
}


align: center;
        height: 55px;
        line-height: 53px;
        padding: 0px 8px 0 8px;
        color: #fd9528;
        font-family: Verdana, Helvetica, Tahoma;
        font-size: 8pt;
        color: #000;
}

a.signup:link, a.signup:visited{
color: #transparent;
font-weight: normal;
}
a.signup:hover {
border-left-width: 3px;
     color: #0000e8;
font-weight: bold;
font-weight: bold;
}


table.cl{
        background: #51b7f6 url(images/header_bg.gif);
        height: 55px;
}

table.cop {
background-color: #000;
width:100%;
align: center;
height: 60;
color: #fafafa;
font-size: 8pt;
}


.menu_l {
	background:url(images/menu_l.gif) top left no-repeat;
	width:6px;
	height:40px;
	border:none;
	}
.menu_r {
	background:url(images/menu_r.gif) top right no-repeat;
	width:6px;
	height:40px;
	border:none;
	}
.menu_c {
	background:url(images/menu_c.gif) left top repeat-x;
	font-size:14px;
	vertical-align:middle;
	color:#CCCCCC;
	font-stretch: extra-condensed;
	text-decoration:none;
	border:none;
	font-family:'tahoma';
	}


#menu {
	background:#333 url(images/menu-bg.png);
    height:37px;
    }

#menu a:link, #menu a:visited, #menu a:active {
	background:#333 url(images/menu-bg.png);
	color:#fff;
    font-size: 13px;
    font-weight: bold;
    line-height:37px;
	}

#menu a:hover, #menu #selected:link, #menu #selected:visited {
	background-color:#111;
	}

#menu ul {
	margin:0px;
    padding:0px;
	}

#menu li {
	float:left;
	list-style:none;
	line-height:5px;
	font-size:0.9em;
    margin:0;
    padding:0;
    }

#menu a:link, #menu a:visited, #menu a:active {
	display:block;
    padding:0 10px;
	text-decoration:none;
	}

#menu a:hover, #menu #selected:link, #menu #selected:visited {
    background:#333 url(images/menu_hover.gif);
	}

#search {
	height:33px;
	width:183px;
	float:right;
	background-image:url(images/search-bg.png);
	background-repeat:repeat-x;
	padding:4px 0 0 4px;
    line-height:37px;
}





input.button{
border: solid #FFC58C 1px;
 background-color: #FFC58C;

}

input[type="submit"], input[type="button"], input[type="reset"], input[type~="submit"], input[type~="button"], input[type~="reset"] {
background:url(images/header.gif) no-repeat;
color:#ffffff;
font-weight:normal;
padding:0 5px 0 5px;
}

input:focus {
	border: 2px solid #FF8705;
	color: #4b4b4b;
}

table.my_table {
  background: transparent;
  border: none;
}  
div#main .withright div#content {
margin:0 180px 0 0;
padding:0 10px 0 0;
}
div#main .withoutright div#content {
margin:0 0 0 0;
padding:0 10px 0 0;
}
#contenttop div.module, #contenttop div.module {
margin:0 0 10px 0;
background:url(images/content_module_br.png) no-repeat 100% 100%;
}
#contenttop .contenttopboxseperator div.module {
margin:0 10px 10px 0;
}
#contenttop div.module div.mone {
background:url(images/content_module_tr.png) no-repeat 100% 0;
}
#contenttop div.module div.mtwo {
background:url(images/content_module_bl.png) repeat-y 0 100%;
}
#contenttop div.module div.mthree {
padding:10px;
background:url(images/content_module_tl.png) no-repeat 0 0;
overflow:hidden;
}
#contenttop div.module div.mfour {
padding:0;
text-align:left;
background:none;
width:100%;
}
#contenttop div.module h3, #contenttop div.module h3 {
background: url(images/content_module_header.png)
repeat-x 0 100%; font-weight: bold; height: 34px; line-height: 34px; margin: -10px 0 5px 0; padding: 0 0 0 5px; text-align: left;
}